header{
    padding: 20px;
    line-height: 30px;
    letter-spacing: -.1px;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    top: 0;
    width: 100%;
}
header navbar.rui-header{
    display: flex;
    justify-content: space-between;
}