@import './base.css';
@import './header.css';
.px-2rem{
    padding-left: 2rem;
    padding-right: 2rem;
}
.hidden{
    display: none;
}
@media (min-width: 1050px)
{
    .dp\:flex {
        display: flex;
    }
}
